<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{radiostation}} {{freq}} FM</ion-title>
  </ion-navbar>
  <div class="text-container">
    <ion-item no-lines class="text-content">
      <ion-avatar item-start>
        <img src='{{photoUrl}}'>
      </ion-avatar>
      <h2><b>{{textDisplayName}}</b></h2>
      <h3>{{time}} {{date}}</h3>
    </ion-item>
    <ion-item no-lines text-wrap>
      <p>{{text}}</p>
    </ion-item>



  <div class="social-options">


      <div class="vote-container">
        <ion-icon name="arrow-round-up"></ion-icon>
        <p>999</p>
        <ion-icon name="arrow-round-down"></ion-icon>
      </div>

    <div class="chat-container">
      <ion-icon name="chatbubbles"></ion-icon>
      <p>1001</p>
    </div>


    <div class="social-options-buttons">
    <button class="general-button">Like <ion-icon name="heart-outline"></ion-icon></button>
      <button class="general-button">Share <ion-icon name="share-alt"></ion-icon></button>
    </div>
     <!-- <button *ngIf="!followFlag" class="general-button" (click)="toggleFollow($event.target)">Follow</button>
      <button *ngIf="followFlag" class="following-button" (click)="toggleFollow($event.target)">Following</button> -->


  </div>
  </div>


</ion-header>


<ion-content>


  <div *ngFor="let msg of messages | async" [ngClass]="{chatbubbleright:msg.uid==uid,chatbubbleleft:msg.uid!=uid}">

    <ng-template [ngIf]="msg.uid == uid">
      <div class="chat-content">
        <p class="display-name"><b>{{msg.displayName}}</b></p>
        <p class="message">{{msg.message}}</p>
      </div>
      <img src="{{msg.photoUrl}}">
    </ng-template>

    <ng-template [ngIf]="msg.uid != uid">
      <img src="{{msg.photoUrl}}">
      <div class="chat-content">
        <p class="display-name"><b>{{msg.displayName}}</b></p>
        <p class="message">{{msg.message}}</p>
      </div>
    </ng-template>

  </div>

</ion-content>

<ion-footer>
  <div class="message-container">
    <ion-input class="message-input" type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
    <button ion-button (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-footer>
