page-chat {
  .thisUser{
    color: blue;
    text-align: right;
  }

  .message-container{
    padding: 1%;
    background-color: #bfbfbf;
  }

  #message-input{
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
  }
}
