page-home {

  .login-button-logo{
    margin-right: 5%;
  }

  #google-login-button{
    background-color: #DC4A38;
  }

  #facebook-login-button{
    background-color: #4267B2;
  }
  #twitter-login-button{
    background-color: #1DA1F2;
  }
}
