page-userprofile {

  #profile_img {
    overflow: hidden;
    border-radius: 100%;
    width: 30%;
    display: inline-block;
    position: relative;

  }

  #interact_items {
    display: inline-block;
    vertical-align:top;
  }

  .follow_button {
    display: inline-block;
    margin-left: 10px;
    .follow {
      background-color: white;

    }
  }

  .text-container{
    margin-top: 5px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .text-name-time{
      display: flex;
      h2{
        margin-right: auto;
      }
    }
    .text-opts{
      display: flex;
      justify-content: space-between;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-top: 2%;
      .text-up-down-opts{
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        *{
          margin-right: 2%;
          font-size: large;
        }

      }
      .text-chat-opts{
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        *{
          margin-right: 2%;
          font-size: large;
        }
      }
      .text-social-opts{
        display: flex;
        align-items: center;
        font-size: large;
      }
    }
  }

}
