<!--
  Generated template for the UserprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end  *ngIf="this.afauth.auth.currentUser.uid == this.navParams.data.uid">
      <button ion-button icon-only>
        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item id="profile_head">
    <div id="profile_img">
      <img src='{{(user|async)?.photoURL}}'>
    </div>

    <div id="interact_items">
      <ion-item class="follow_numbers">{{(user|async)?.noFollowers}} <span class="follow_item">Followers</span></ion-item>
      <ion-item class="follow_numbers">{{(user|async)?.noFollowing}} <span class="follow_item">Following</span></ion-item>
      <button ion-button round class="follow_button general-button"
              *ngIf="this.afauth.auth.currentUser.uid != this.navParams.data.uid
                    && isFollowing != true"
              (click)="follow()">Follow</button>
      <button ion-button round class="general-button-clicked"
              *ngIf="this.afauth.auth.currentUser.uid != this.navParams.data.uid
                    && isFollowing == true"
              (click)="unfollow()">Following</button>
    </div>
  </ion-item>

  <ion-item>
    <div id="profile_desc">
      <h3 id="profile_name">{{(user|async)?.displayName}}</h3>
      <p id="profile_info">
        {{(user|async)?.info}}
      <br>More info goes here
      </p>
    </div>
  </ion-item>

  <ion-list>
    <ion-item class="text-container" *ngFor="let text of texts | async" text-wrap no-lines>

      <ion-avatar item-start >
        <img src='{{text.photoUrl}}'>
      </ion-avatar>

      <div class="text-name-time" (click)="navToChat(text)">
        <h2><b>{{text.displayName}}</b></h2>
        <p>{{(text.time| amFromUnix) | amTimeAgo}}</p>
      </div>

      <p>{{text.text}}</p>

      <div class="text-opts">

        <div class="text-up-down-opts" (click)="like(text)">
          <ion-icon name="ios-heart-outline"></ion-icon>
          <p>{{text.noLikes}}</p>
        </div>

        <div class="text-chat-opts" >
          <ion-icon name="ios-chatbubbles-outline"></ion-icon>
          <p >{{text.noMsg}}</p>
        </div>


        <div class="text-social-opts">
          <ion-icon (click)="socialShareOpt()" name="share-alt"></ion-icon>
        </div>

      </div>


    </ion-item>
  </ion-list>


</ion-content>
