<!--
  Generated template for the TextsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>{{radiostation}} {{frequency}}</ion-title>
    <img src='assets/imgs/radiostation-temp-icon.png' width="40px" height="40px">
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item class="text-container" *ngFor="let i = index; let text of texts | async" text-wrap no-lines>
      <ion-avatar item-start >
      <img src='{{text.photoUrl}}' (click)="navtoUserProfile(text.uid)">
      </ion-avatar>

    <div (click)="navToChat(text)">
      <div class="text-name-time" >
        <h2><b>{{text.displayName}}</b></h2>
        <p>{{(text.time| amFromUnix) | amTimeAgo}}</p>
      </div>

      <p>{{text.text}}</p>
    </div>
      <div class="text-opts" (click)="show(text,text.key)">

        <div class="text-up-down-opts">
            <ion-icon (click)="like(text)" name="ios-heart-outline" *ngIf="(text.liked|async)?.like != true"></ion-icon>
            <ion-icon (click)="unlike(text)" name="ios-heart"        *ngIf="(text.liked|async)?.like == true"></ion-icon>
          <p>{{text.noLikes}}</p>
        </div>

        <div class="text-chat-opts" >
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
            <p >{{text.noMsg}}</p>
        </div>


        <div class="text-social-opts">
          <ion-icon (click)="socialShareOpt()" name="share-alt"></ion-icon>
        </div>




      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="message-container">
    <ion-textarea class="message-input" type="text" placeholder="Text" [(ngModel)]="text"></ion-textarea>
    <button ion-button (click)="sendText()"><ion-icon name="send"> </ion-icon>
    </button>
  </div>
</ion-footer>
